@media (max-width: 1537px) {
  .nav__bar-list_wrapper {
    li {
      a {
        font-size: 16px;
      }
    }
  }
.promo__text__wrapper {
  padding-top: 100px;
}
.promo__header {
    font-size: 44px;
  }
  .promo__phone {
    font-size: 26px;
    margin-top: 32px;
  }
  .catalog__wrapper {
    margin-top: 160px;
  }
}