@media (max-width: 1700px) {
  .catalog__wrapper {
    //margin-top: 160px;
  }
  .catalog__cards__wrapper {
    gap: 20px;
  }
  .about__header-header {
    font-size: 36px;
  }
  .about__header {
    gap: 180px;
  }
  .about__descr {
    font-size: 24px;
  }
}

@media (max-width: 1537px) {

  .img-box img {
    width: 100%;
    left: unset;
  }

  .rectangle {
    width: 660px;
    height: 610px;
  }

  .nav__bar-list_wrapper {
    li {
      a {
        font-size: 18px;
      }
    }
  }

  .promo__text__wrapper {
    padding-top: 100px;
  }
  .promo__header {
    font-size: 44px;
  }
  .promo__phone {
    font-size: 26px;
    margin-top: 32px;
  }
  .catalog__wrapper {
    margin-top: 200px;
  }
  .catalog__card__info {
    min-height: 188px;
  }
  .catalog__header h2 {
    font-size: 36px;
  }
  .catalog__card__wrapper {
    max-width: 380px;
  }
  .catalog__card-name {
    font-size: 20px;
  }
  .catalog__card-descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 160%;
  }
  .catalog__card-options {
    margin-top: 12px;
  }
  .catalog .option {
    font-size: 12px;
  }
  .catalog__card-price {
    font-size: 20px;
  }
  .toBook {
    font-size: 16px;
    padding: 12px 20px;
  }
  .catalog__note {
    margin-top: 10px;
  }
  .about__header {
    margin-top: 100px;
    gap: 192px;
  }
  .about__header-header {
    font-size: 36px;
  }
  .about__descr {
    font-size: 22px;
  }
  .about__item-title {
    font-size: 14px;
  }
  .location__address-text {
    font-size: 20px;
  }
  .location__wrapper {
  }
  .location__title {
    font-size: 18px;
  }
  .faq__wrapper {
    gap: 60px;
  }
  .faq__header-header h2 {
    font-size: 34px;
  }
  .faq__questions-item-wrapper span {
    font-size: 20px;
  }
  .faq__questions-item p {
    font-size: 18px;
  }
  .footer {

  }
  .footer__social__link {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 1260px) {

  .img-box img {
    top: -50px;
  }
  .rectangle {
    width: 540px;
    height: 520px;
  }

  .nav__padding {
    padding-top: 20px;
  }
  //.nav__logo {
  //  grid-column: 1/3;
  //}
  //.nav__bar {
  //  grid-column: 3/10;
  //}
  .nav__social-list_wrapper {
    padding-right: 12px;
  }
  .promo__text__wrapper {
    grid-column: 1/7;
  }
  .promo__text__wrapper {
    padding-top: 50px;
  }

  .catalog__wrapper {
    margin-top: 160px;
  }
  .catalog__card__wrapper {
    max-width: 320px;
  }
  .catalog__card-name {
    font-size: 18px;
  }
  .catalog__card-descr {
    font-size: 14px;
  }
  .catalog__card-options {
    margin-top: 10px;
  }
  .catalog .option {
    font-size: 10px;
  }
  .catalog__card__info {
    min-height: 166px;
  }
  .toBook {
    padding: 10px 14px;
    font-size: 12px;
  }
  .faq__wrapper {
    gap: 30px;
    flex-direction: column;
  }
  .faq__header {
    margin-top: 30px;
  }
  .faq__header-header {
    width: auto;
  }
  .faq__header-box {
    display: none;
  }
  .faq__questions {
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }
  .faq__questions-item-wrapper span {
    font-size: 18px;
  }

  .faq__questions-item p {
    margin-top: 0;
    font-size: 16px;
  }
  .nav__bar-list_wrapper {
    gap: 30px;
  }
}



@media (max-width: 1024px) {

  .nav__bar {
    margin-left: 40px;
  }
  .nav__bar-list_wrapper li a {
    font-size: 16px;
  }

  .rectangle {
    width: 436px;
    height: 500px;
  }
  .img-box img {
    top: 36px;
  }
  .promo__header {
    font-size: 40px;
  }
  .promo__phone {
    font-size: 24px;
  }

  .promo__rectangle img {
    position: relative;
    top: 55px;
    margin-right: 0;
  }
  .catalog__header {
    font-size: 32px;
  }
  .catalog__note {
    font-size: 12px;
  }
  .about__header {
    margin: 78px 20px 0 20px;
    gap: 90px;
  }
  .about__header-header {
    font-size: 32px;
  }
  .about__descr {
    text-align: center;
    font-size: 18px;
  }
  .about__item-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about__item-title {
    text-align: center;
  }

  .about__item {
    //max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__item-icon {
    width: 70px;
    height: 70px;
  }
  .about__item-title {
    margin-top: 12px;
  }

  .location__wrapper {
    margin: 60px 20px 0 20px;
    gap: 70px;
  }
  .location__title {
    font-size: 16px;
    margin-top: 22px;
  }
  .location__address-text {
    font-size: 18px;
  }
  .location__contacts-wrapper {
    margin-top: 30px;
  }
  .btn {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
  .faq__questions-item-wrapper span {
    font-size: 16px;
  }
  .faq__questions-item {
    padding: 8px 13px 8px 30px;
  }


  .footer {
    padding: 20px 20px;
  }
  .footer__social {
    grid-column: 13/16;
  }
  .footer__bar {
    grid-column: 3/12;
  }
}

@media (max-width: 744px) {

  .nav__logo {
    padding-top: 20px;
  }

  .nav .social__link {

  }

  .nav__wrapper {
    display: unset;
  }

  .nav__bar {
    padding: 0;
    margin: 0;
    top: 36px;

    //right: -100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s all;

    &__active {
      right: 0;
    }
  }
  .nav__bar-list_wrapper {
    gap: 20px;
    flex-direction: unset;

    li {
      gap: 20px;

      a {
        gap: 20px;
        height: 25px;
      }
    }
  }
  .nav__social__wrapper {
    //margin-top: 40px;

  }
  .nav__social-list_wrapper {
    padding-left: 0;

  }


  .about__header-header {
    font-size: 22px;
    padding-left: 14px;
  }
  .about__header {
    margin-top: 56px;
  }
  .about__descr {
    font-size: 16px;
  }
  .about__item-wrapper {
    margin-top: 50px;
    gap: 26px;
  }
  .location__header {
    padding-left: 14px;
  }
  .location__header h2 {
    font-size: 22px;
  }
  .promo__messengers {
    margin-top: 20px;
  }
  .btn {
    width: 130px;
  }
  .faq__header {
    margin-top: 24px;
    margin-left: 80px;

  }
  .faq__header-header {
    padding-left: 18px;
  }
  .faq__header-header h2 {
    font-size: 22px;
  }
}

