@import "../base/variables";

.about {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 0 20px 0 20px;
  &__header {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    border-left: 5px solid $purple;
    gap: 300px;

    &-header {
      width: 300px;
      padding-left: 25px;
    }

  }
  &__descr {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
  }

  &__item-wrapper {
    margin: 80px 30px 0 30px;
    display: flex;

    gap: 75px;
    justify-content: center;
    min-height: 220px;
  }

  &__item {
    max-width: 150px;
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(216.42deg, #6747E9 -33.37%, #7958FF 87.72%);
    border-radius: 10px;
  }
  &__item-title {
    margin-top: 30px;
    max-width: 298px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

