.faq {
  &__wrapper {
    display: flex;
    gap: 120px;
    margin: 70px 20px 0 20px;
    padding-bottom: 70px;
    background: linear-gradient(116.95deg, #9075FF 15.81%, #3B1BBD 105.38%);
    border-radius: 30px;
  }
  &__header {
    margin-top: 70px;
    margin-left: 110px;
    &-header {
      width: 474px;
      border-left: 5px solid #ffffff;
      padding-left: 25px;

      h2 {
        color: white;
        font-weight: 500;
        font-size: 45px;
        line-height: 120%;
      }
    }

  }

  &__header-box {
    z-index: 1;
    position: relative;
    margin-top: 60px;
    &_img {
      img {
        border-radius: 30px;
      }
    }
    &_rectangle {
      position: absolute;
      z-index: -1;
      width: 205px;
      height: 205px;
      //border: 1px solid black ;

      background: linear-gradient(216.42deg, #6747E9 -3.37%, #7958FF 87.72%);
      border-radius: 20px;

      left: 160px;
      top: 220px;
    }
  }

  &__questions {
    width: 100%;
    color: black;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 119px;
    &-item {
      width: 100%;
      padding: 15px 30px 15px 30px;
      border-radius: 30px;
      background-color: #fff;
      transition: 0.1s all;
      &-wrapper {
        display: flex;
        //height: 80px;
        align-items: center;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {


        p {
          color: white;
          cursor: default;


        }
        span {
          color: white;
        }
        background: linear-gradient(250.06deg, #7D5EFF 20.17%, #7958FF 65.4%);
        box-shadow: 0px 20px 40px rgba(45, 24, 131, 0.3);

      }

      span {
        display: inline-block;
        font-weight: 400;
        font-size: 26px;
        line-height: 180%;
        color: black;
      }
      p {
        text-align: justify;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        margin-top: 18px;
        margin-bottom: 0;
        color: #222222;

      }
    }
  }

  &__symbol {
    width: 50px;
    height: 50px;
    &-circle {
      border: 1px solid black;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.vertical {
  background-color: #393E52;
  width: 2px;
  height: 20px;

}

.horizontal {
  position: absolute;

  background-color: #393E52;
  width: 20px;
  height: 2px;
}

