@import "../base/variables";

.footer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 15px 20px 15px 20px;
  &__wrapper {
    gap: 20px;
  }
  &__social {
    grid-column: 14/16;
  }
  &__bar {
    justify-content: center;
    margin-left: 0;
  }
}

.footer__list_wrapper {
  background: none;
  padding-right: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer__social__link {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.2s all;
  &:hover {
    background-color: $purple;
    border: 1px solid $purple;
  }

}
.mobile-footer {
  display: none;
  //padding: 15px 0;
  justify-content: center;
}