@import "../base/variables";

.container {
  //grid-column: 2/16;
  //padding: 0px 20px 0px 20px;
}
span.short {
  width: 14px;
}

.burger {
  display: none;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 4px;
  width: 24px;
  height: 24px;
  span {
    width: 18px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s all;
  }
  &__active {

    span {
      margin-bottom: -6px;
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        width: 18px;
        transform: rotate(45deg);
      }
    }
  }
}



.nav {

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 0 20px 0 20px;
  &__social__wrapper {

  }

  &__wrapper {
    position: relative;
    z-index: 1000;


    display: flex;

  }

  &__padding {
    padding-top: 30px;

  }

  &__logo {
    display: flex;
    justify-content: space-between;

  }

  &__logo__wrapper {
    gap: 11px;
    display: flex;
    min-width: 200px;
    height: 50px;
  }


  &__bar {
    margin-left: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-list_wrapper {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 0;

      li {
        list-style-type: none;

        a {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-size: 22px;
          line-height: 120%;
          height: 50px;
          text-decoration: none;
          color: white;
          transition: 0.2s all;

          //box-shadow: 0px 1px 0px 0px $purple;


        }

        a:hover {
          color: $purple;
          border: none;
          //border-bottom: 1px solid $purple;
          box-shadow: 0px 1px 0px 0px $purple;
        }
      }
    }
  }


  &__social {
    background: none;
    z-index: 1;
    grid-column: 13/15;
    display: flex;
    justify-content: space-around;

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &-list_wrapper {
      background: none;
      margin-bottom: 0;
      display: flex;
      //align-items: center;
      gap: 8px;
    }

    &-item {
      list-style-type: none;
    }
  }

  .social__link {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: 0.2s all;

    &:hover {
      background-color: #393E52;
      border: none;
    }

    &-telegram {
      &:hover {
        background-color: #1895D1;
        border: none;
      }
    }

    &-wa {
      &:hover {
        background-color: #65BC54;
        border: none;
      }
    }

    &-fb {
      &:hover {
        background-color: blue;
      }
    }

    &-vk {
      &:hover {
        background-color: #4C75A3;
      }
    }

  }

  &__theme {
    display: none;

    background: none;
    line-height: 0.5;
    width: 71px;
    height: 36px;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #ffffff;
    border-radius: 50px;

  }

  .moon-wrapper {
    background: none;
    border-radius: 50px;
    padding-left: 4px;
  }

  .moon-btn {
    width: 28px;
    height: 28px;
    border: none;
    background-color: #ffffff;
    border-radius: 50px;

    img {
      line-height: 0.5;
      background: none;
    }
  }

  .sun-wrapper {
    background: none;
    border-radius: 50px;
    padding-right: 4px;
  }

  .sun-btn {
    background: none;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50px;

    img {
      background: none;
    }
  }

  &__language {
    display: none;
    padding-left: 30px;
    background: none;
  }
}

.logo__header {
  font-weight: 800;
  font-size: 30px;
  line-height: 51px;
  text-align: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: $purple;
}

.logo__title {
  font-size: 18px;
  font-weight: 800;
}

.logo__title span {
  color: $purple;
}

.list_wrapper {
  display: flex;
}

.instagram {
  &:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

  }
}

.wa:hover {
  background-color: #25D366;
}

.telegram__link {
  &:hover {
    background-color: red;
  }
}





