//@import "../sass/libs/bootstrap-reboot.min";

* {
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1A1A1A;
}

.hidden {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}



@import "../sass/blocks/nav";
@import "../sass/blocks/promo";
@import "../sass/blocks/buttons";
@import "../sass/blocks/catalog";
@import "../sass/blocks/about";
@import "../sass/blocks/location";
@import "../sass/blocks/faq";
@import "../sass/blocks/footer";
@import "../sass/blocks/modal";
@import "../sass/base/media";


.show {
  display: block;
}

.hide {
  display: none;
}

