@import "../sass/libs/bootstrap-reboot.min";

* {
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  //background-color: #1A1A1A;
}

body {
  background-color: #1A1A1A;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  //background-color: #1A1A1A;
}

@import "../sass/blocks/nav";
@import "../sass/blocks/promo";
@import "../sass/blocks/buttons";
@import "../sass/blocks/catalog";
@import "../sass/blocks/about";
@import "../sass/blocks/location";
