* {
  padding: 0;
  margin: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1A1A1A;
}

.hidden {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0;
}

.nav {
  padding: 0 139px 0 139px;
}
.nav__wrapper {
  position: relative;
  z-index: 1000;
  display: flex;
}
.nav__padding {
  padding-top: 30px;
}
.nav__logo {
  gap: 11px;
  display: flex;
  min-width: 200px;
  height: 50px;
}
.nav__bar {
  margin-left: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav__bar-list_wrapper {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.nav__bar-list_wrapper li {
  list-style-type: none;
}
.nav__bar-list_wrapper li a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  height: 50px;
  text-decoration: none;
  color: white;
  transition: 0.2s all;
}
.nav__bar-list_wrapper li a:hover {
  color: #6747E9;
  box-shadow: 0px 1px 0px 0px #6747E9;
}
.nav__social {
  background: none;
  z-index: 1;
  grid-column: 13/15;
  display: flex;
  justify-content: space-around;
}
.nav__social__wrapper {
  display: flex;
  align-items: center;
}
.nav__social-list_wrapper {
  background: none;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
}
.nav__social-item {
  list-style-type: none;
}
.nav .social__link {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.2s all;
}
.nav .social__link:hover {
  background-color: #393E52;
  border: none;
}
.nav .social__link-telegram:hover {
  background-color: #1895D1;
  border: none;
}
.nav .social__link-wa:hover {
  background-color: #65BC54;
  border: none;
}
.nav .social__link-fb:hover {
  background-color: blue;
}
.nav .social__link-vk:hover {
  background-color: #4C75A3;
}
.nav__theme {
  display: none;
  background: none;
  line-height: 0.5;
  width: 71px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.nav .moon-wrapper {
  background: none;
  border-radius: 50px;
  padding-left: 4px;
}
.nav .moon-btn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: #ffffff;
  border-radius: 50px;
}
.nav .moon-btn img {
  line-height: 0.5;
  background: none;
}
.nav .sun-wrapper {
  background: none;
  border-radius: 50px;
  padding-right: 4px;
}
.nav .sun-btn {
  background: none;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50px;
}
.nav .sun-btn img {
  background: none;
}
.nav__language {
  display: none;
  padding-left: 30px;
  background: none;
}

.logo__header {
  font-weight: 800;
  font-size: 30px;
  line-height: 51px;
  text-align: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: #6747E9;
}

.logo__title {
  font-size: 18px;
  font-weight: 800;
}

.logo__title span {
  color: #6747E9;
}

.list_wrapper {
  display: flex;
}

.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
}

.wa:hover {
  background-color: #25D366;
}

.telegram__link:hover {
  background-color: red;
}

.promo__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 0 20px;
  gap: 20px;
}
.promo__text__wrapper {
  padding-top: 120px;
  grid-column: 2/8;
}
.promo__header {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 120%;
}
.promo__title {
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.promo__phone {
  margin-top: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
}
.promo__phone a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}
.promo__phone a:hover {
  color: #6747E9;
}
.promo__messengers {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.promo__rectangle {
  grid-column: 17/10;
  position: absolute;
  display: flex;
  justify-content: end;
  top: -80px;
  background: linear-gradient(116.95deg, #9075FF 15.81%, #3B1BBD 105.38%);
  border-radius: 0 0 30px 30px;
}
.promo__rectangle img {
  padding-right: 20px;
  padding-top: 0;
  max-width: 125%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 49px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  border-radius: 10px;
  border: none;
  color: inherit;
  text-decoration: none;
  text-underline: none;
}
.btn img {
  padding-right: 10px;
}

.btn:hover {
  color: inherit;
}

.whatsapp {
  background-color: #65BC54;
}
.whatsapp:hover {
  background-color: #2F9B1A;
}

.telegram {
  background-color: #2AA1DA;
}
.telegram:hover {
  background-color: #1895D1;
}

.toBook {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  background: #6747E9;
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
}
.toBook:hover {
  background-color: #7756FF;
}

.catalog__wrapper {
  margin-top: 220px;
}
.catalog__header {
  text-align: center;
}
.catalog__header h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
}
.catalog__tabs {
  display: none;
  justify-content: center;
  margin-top: 40px;
}
.catalog__tabs-choose {
  width: 146px;
  padding: 15px 30px;
  background-color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  border: 1px solid #393E52;
}
.catalog__tabs-choose-bike {
  border-radius: 10px 0 0 10px;
}
.catalog__tabs-choose-car {
  border-radius: 0 10px 10px 0;
}
.catalog__cards__wrapper {
  display: flex;
  margin: 30px 20px 0 20px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.catalog__card__wrapper {
  max-width: 455px;
  min-width: 324px;
  background: #272727;
  border-radius: 20px;
}
.catalog__slider img {
  border-radius: 20px 20px 0 0;
}
.catalog__card__info {
  min-height: 220px;
  margin: 15px 20px 0 20px;
}
.catalog__card-name {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.catalog__card-descr {
  margin-top: 15px;
  color: #898989;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
}
.catalog__card-options {
  margin-top: 15px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;
}
.catalog .option {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  border-radius: 50px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.catalog .holder {
  color: #2F9B1A;
  background: #283426;
}
.catalog .helmets {
  color: #A532FF;
  background: #362841;
}
.catalog .baggage {
  color: #2F9B1A;
  background: #283426;
}
.catalog__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.catalog__card-price {
  text-align: center;
  vertical-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}
.catalog__card-price span {
  color: #6747E9;
}
.catalog__note {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}
.catalog__note span {
  color: #6747E9;
}

.tab-active {
  background-color: #6747E9;
}

.about__header {
  margin: 140px 139px 0 139px;
  display: flex;
  gap: 390px;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  border-left: 5px solid #6747E9;
}
.about__header-header {
  width: 300px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
}
.about__descr {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
}
.about__item-wrapper {
  margin: 80px 30px 0 30px;
  display: flex;
  gap: 75px;
  justify-content: center;
  min-height: 220px;
}
.about__item {
  max-width: 150px;
}
.about__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(216.42deg, #6747E9 -33.37%, #7958FF 87.72%);
  border-radius: 10px;
}
.about__item-title {
  margin-top: 30px;
  max-width: 298px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.location__wrapper {
  margin: 70px 20px 0 139px;
  display: flex;
  gap: 133px;
}
.location__header {
  padding-left: 25px;
  border-left: 5px solid #6747E9;
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
}
.location__title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.location__contacts-wrapper {
  margin-top: 70px;
}
.location__contacts {
  margin-top: 19px;
  display: flex;
  gap: 19px;
}
.location__address-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}
.location__address-text a {
  color: inherit;
  text-decoration: none;
}
.location__address-text a:hover {
  color: #6747E9;
}
.location__map {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1286px;
  border-radius: 30px;
}

.faq__wrapper {
  display: flex;
  gap: 120px;
  margin: 70px 20px 0 20px;
  padding-bottom: 70px;
  background: linear-gradient(116.95deg, #9075FF 15.81%, #3B1BBD 105.38%);
  border-radius: 30px;
}
.faq__header {
  margin-top: 70px;
  margin-left: 110px;
}
.faq__header-header {
  width: 474px;
  border-left: 5px solid #ffffff;
  padding-left: 25px;
}
.faq__header-header h2 {
  color: white;
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
}
.faq__header-box {
  z-index: 1;
  position: relative;
  margin-top: 60px;
}
.faq__header-box_img img {
  border-radius: 30px;
}
.faq__header-box_rectangle {
  position: absolute;
  z-index: -1;
  width: 205px;
  height: 205px;
  background: linear-gradient(216.42deg, #6747E9 -3.37%, #7958FF 87.72%);
  border-radius: 20px;
  left: 160px;
  top: 220px;
}
.faq__questions {
  width: 100%;
  color: black;
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 119px;
}
.faq__questions-item {
  width: 100%;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.1s all;
}
.faq__questions-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__questions-item-wrapper:hover {
  cursor: pointer;
}
.faq__questions-item:hover {
  background: linear-gradient(250.06deg, #7D5EFF 20.17%, #7958FF 65.4%);
  box-shadow: 0px 20px 40px rgba(45, 24, 131, 0.3);
}
.faq__questions-item:hover p {
  color: white;
  cursor: default;
}
.faq__questions-item:hover span {
  color: white;
}
.faq__questions-item span {
  display: inline-block;
  font-weight: 400;
  font-size: 26px;
  line-height: 180%;
  color: black;
}
.faq__questions-item p {
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  margin-top: 18px;
  margin-bottom: 0;
  color: #222222;
}
.faq__symbol {
  width: 50px;
  height: 50px;
}
.faq__symbol-circle {
  border: 1px solid black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  background-color: #393E52;
  width: 2px;
  height: 20px;
}

.horizontal {
  position: absolute;
  background-color: #393E52;
  width: 20px;
  height: 2px;
}

.footer {
  padding: 25px 0 25px 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 30px 20px 0 20px;
  gap: 20px;
}
.footer__social {
  grid-column: 14/16;
}
.footer__bar {
  grid-column: 5/11;
}

.footer__list_wrapper {
  background: none;
  padding-right: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer__social__link {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.2s all;
}
.footer__social__link:hover {
  background-color: #6747E9;
  border: 1px solid #6747E9;
}

.overlay__nob {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.88);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 396px;
  height: 326px;
  background-color: #fff;
  border-radius: 8px;
}
.modal__window .modal__close {
  top: -4%;
  position: absolute;
  font-size: 40px;
  left: 92%;
  color: #222222;
}
.modal__window .modal__close:hover {
  cursor: pointer;
  color: #6747E9;
}
.modal__window .modal__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222222;
  text-align: center;
  padding: 30px;
}
.modal__window .modal__descr h3 {
  color: #222222;
  font-size: 30px;
  font-weight: 500;
  line-height: 120%;
}
.modal__window .modal__descr p {
  color: #222222;
  font-size: 16px;
  line-height: 140%;
}
.modal__window .modal__phone {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.modal__window .modal__phone a {
  color: #222222;
  text-decoration: none;
}
.modal__window .modal__phone a:hover {
  color: #6747E9;
}
.modal__window .modal__social {
  margin-top: 20px;
}
.modal__window .modal__social a {
  background-color: #6747E9;
}
.modal__window .modal__social a:hover {
  border: 1px solid #222222;
  background-color: #222222;
}

.modal__slider__wrapper {
  width: 800px;
  height: 500px;
}

@media (max-width: 1700px) {
  .catalog__wrapper {
    margin-top: 160px;
  }
  .about__header-header {
    font-size: 36px;
  }
  .about__header {
    gap: 180px;
  }
  .about__descr {
    font-size: 24px;
  }
}
@media (max-width: 1537px) {
  .nav__bar-list_wrapper li a {
    font-size: 16px;
  }
  .promo__rectangle img {
    max-width: 120%;
  }
  .promo__text__wrapper {
    padding-top: 100px;
  }
  .promo__header {
    font-size: 44px;
  }
  .promo__phone {
    font-size: 26px;
    margin-top: 32px;
  }
  .catalog__wrapper {
    margin-top: 130px;
  }
  .catalog__card__info {
    min-height: 188px;
  }
  .catalog__header h2 {
    font-size: 36px;
  }
  .catalog__card__wrapper {
    max-width: 380px;
  }
  .catalog__card-name {
    font-size: 20px;
  }
  .catalog__card-descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 160%;
  }
  .catalog__card-options {
    margin-top: 12px;
  }
  .catalog .option {
    font-size: 12px;
  }
  .catalog__card-price {
    font-size: 20px;
  }
  .toBook {
    font-size: 16px;
    padding: 12px 20px;
  }
  .catalog__note {
    margin-top: 10px;
  }
  .about__header {
    margin-top: 100px;
    margin-right: 90px;
    gap: 192px;
  }
  .about__header-header {
    font-size: 36px;
  }
  .about__descr {
    font-size: 22px;
  }
  .about__item-title {
    font-size: 14px;
  }
  .location__address-text {
    font-size: 20px;
  }
  .location__title {
    font-size: 18px;
  }
  .faq__wrapper {
    gap: 60px;
  }
  .faq__header-header h2 {
    font-size: 34px;
  }
  .faq__questions-item-wrapper span {
    font-size: 20px;
  }
  .faq__questions-item p {
    font-size: 18px;
  }
  .footer {
    padding: 20px 0 20px 0;
  }
  .footer__social__link {
    width: 33px;
    height: 33px;
  }
}
@media (max-width: 1400px) {
  .catalog__wrapper {
    margin-top: 80px;
  }
  .promo__rectangle {
    grid-column: 9/20;
  }
  .promo__rectangle img {
    max-width: 128%;
  }
}
@media (max-width: 1260px) {
  .nav__logo {
    grid-column: 1/3;
  }
  .nav__bar {
    grid-column: 3/10;
  }
  .promo__text__wrapper {
    grid-column: 1/7;
  }
  .promo__text__wrapper {
    padding-top: 50px;
  }
  .promo__rectangle {
    grid-column: 9/20;
  }
  .promo__rectangle img {
    max-width: 128%;
  }
  .catalog__card__wrapper {
    max-width: 320px;
  }
  .catalog__card-name {
    font-size: 18px;
  }
  .catalog__card-descr {
    font-size: 14px;
  }
  .catalog__card-options {
    margin-top: 10px;
  }
  .catalog .option {
    font-size: 10px;
  }
  .catalog__card__info {
    min-height: 166px;
  }
  .toBook {
    padding: 10px 14px;
    font-size: 12px;
  }
  .faq__wrapper {
    gap: 30px;
    flex-direction: column;
  }
  .faq__header {
    margin-top: 30px;
  }
  .faq__header-header {
    width: auto;
  }
  .faq__header-box {
    display: none;
  }
  .faq__questions {
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }
  .faq__questions-item-wrapper span {
    font-size: 18px;
  }
  .faq__questions-item p {
    margin-top: 0;
    font-size: 16px;
  }
  .nav__bar-list_wrapper {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .promo__header {
    font-size: 40px;
  }
  .promo__phone {
    font-size: 24px;
  }
  .catalog__header {
    font-size: 32px;
  }
  .catalog__note {
    font-size: 12px;
  }
  .about__header {
    margin: 78px 20px 0 20px;
    gap: 90px;
  }
  .about__header-header {
    font-size: 32px;
  }
  .about__descr {
    text-align: center;
    font-size: 18px;
  }
  .about__item-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about__item-title {
    text-align: center;
  }
  .about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__item-icon {
    width: 70px;
    height: 70px;
  }
  .about__item-title {
    margin-top: 12px;
  }
  .location__wrapper {
    margin: 60px 20px 0 20px;
    gap: 70px;
  }
  .location__title {
    font-size: 16px;
    margin-top: 22px;
  }
  .location__address-text {
    font-size: 18px;
  }
  .location__contacts-wrapper {
    margin-top: 30px;
  }
  .btn {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
  .footer {
    padding: 20px 20px;
  }
  .footer__social {
    grid-column: 13/16;
  }
  .footer__bar {
    grid-column: 3/12;
  }
}
@media (max-width: 744px) {
  .about__header-header {
    font-size: 22px;
    padding-left: 14px;
  }
  .about__header {
    margin-top: 56px;
  }
  .about__descr {
    font-size: 16px;
  }
  .about__item-wrapper {
    margin-top: 50px;
    gap: 26px;
  }
  .location__header {
    padding-left: 14px;
  }
  .location__header h2 {
    font-size: 22px;
  }
  .promo__messengers {
    margin-top: 20px;
  }
  .btn {
    width: 130px;
  }
  .faq__header {
    margin-top: 24px;
    margin-left: 80px;
  }
  .faq__header-header {
    padding-left: 18px;
  }
  .faq__header-header h2 {
    font-size: 22px;
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
